<% @mentions.each do |mention| %>
  <% cache mention do %>
  <div class="smartbox clearflix">
      <div class="tweeter_details">
        <div class="tweeter_image">
          <strong><p><%= "@" + mention.username %></p></strong>
            <%= image_tag mention.profile_image_uri, :class => "user_image" %>
        </div>

        <div class="klout">
          <p id="klout_score"><span title="Klout Score">
            <strong><%= display_klout_score(mention) %></strong>
          </span></p>
          <p><span title="Followers">
            <%=mention.followers_count %>
          </span></p>
          <p><span title="Following">
            <%= mention.friends_count %>
          </span></p>
        </div>
    </div>

    <div class="tweet_text">
      <p><%= mention.message %></p>
    </div>

    <div class="sort_options">
      <div class="timestamp">
        <p><%= pretty_time(mention) %></p>
      </div>
      <div class="action_icons">
        <div class="retweet"><span title="Retweet">
          <%= display_retweet_button(mention) %>
        </span>
        </div>

        <div class="flag"><span title="Flagged">
          <%= display_flagged_button(mention) %>
        </span>
        </div>

        <div class="respond" id="reply"><span title="Reply">
          <%= display_reply_button(mention) %>
        </span>
        </div>

        <div class="archive"><span title="Archive">
          <%= display_archive_button(mention) %>
        </span>
        </div>
      </div>
      </div>

  </div>

  <%= render partial: "reply_dropdown", locals: {mention: mention} %>

  <% end %>
<% end %>
