<% @mentions.each do |mention| %>
  <div class="smartbox clearflix">
    <!-- <div class="smartbox-inset"> -->

      <div class="tweeter_details">
        <div class="tweeter_image">
          <strong><p><%= "@" + mention.username %></p></strong>
          <!-- <circle cx="284" cy="213" r="213" /> -->
            <%= image_tag mention.profile_image_uri, :class => "user_image" %>
        </div>

        <div class="klout">
          <p><strong><%= display_klout_score(mention) %></strong></p>
          <p><%=mention.followers_count %> </p>
          <p><%= mention.friends_count %></p>
        </div>
    </div>

    <div class="tweet_text">
      <p><%= mention.message %></p>
    </div>

    <div class="sort_options">
      <div class="timestamp">
        <p><%= pretty_time(mention) %></p>
      </div>
      <div class="action_icons">
        <div class="retweet">
          <% if mention.retweeted == true %>
          <%= link_to image_tag("ss_retweet_on-click.png"), {:action => "retweet", :id => mention.id}, method: 'post' %>
          <% else %>
          <%= link_to image_tag("ss_retweet.png"), {:action => "retweet", :id => mention.id}, method: 'post' %>
          <% end %>
        </div>

        <div class="flag">
          <% if mention.flagged == true %>
            <%= link_to image_tag("ss_flag_on-click.png"), {:action => "flag", :id => mention.id}, method: 'post' %>
          <% else %>
            <%= link_to image_tag("ss_flag.png"), {:action => "flag", :id => mention.id}, method: 'post' %>
          <% end %>
        </div>

        <div class="respond" id="reply">
          <% if mention.responded == true %>
            <%= image_tag("ss_reply_on-click.png") %>
          <% else %>
            <%= link_to image_tag("ss_reply.png"), "#", {:class => 'respond_link'} %>
          <% end %>
        </div>

        <div class="archive">
          <% if mention.archived == true %>
            <%= link_to image_tag("ss_archive_on-click.png"), {:action => "archive", :id => mention.id}, method: 'post' %>
          <% else %>
            <%= link_to image_tag("ss_archive.png"), {:action => "archive", :id => mention.id}, method: 'post' %>
          <% end %>
        </div>

      </div>
      </div>
    <!-- </div> -->

  </div>
  <div class="reply_dropdown">
    <div class="reply_form">
      <%= form_tag("/reply/#{mention.id}") do %>
        <p><%=text_area_tag 'respond', nil, :rows => "2", :cols => "70", :size => 145, :placeholder => 'Input reply here',:maxlength => 140 %></p>
         <p><%= submit_tag 'Reply' %></p>
      <% end %>
    </div>
  </div>
<% end %>
