<% @mentions.each do |mention| %>
  <div class="smartbox clearflix">
    <div class="smartbox-inset">

    <div class="klout">
      <% if mention.klout.round > 50 %>
        <p id="klout_score"><%= mention.klout.round %></p>
      <% else %>
        <p><%= mention.klout.round %></p>
      <% end %>
    </div>

    <div class="tweeter_image">
      <circle cx="284" cy="213" r="213" />
        <%= image_tag mention.profile_image_uri, :class => "user_image" %>
    </div>

    <div class="tweet_text">
      <strong><p><%= "@" + mention.username %></p></strong>
      <p><%= mention.message %></p>
    </div>

    <div class="sort_options">
      <div class="timestamp">
        <p><%= mention.pretty_time %></p>
      </div>
        <div class="retweet">
          <input type="button" name="Retweet" value="Ret" width="30" height="30"/>
        </div>
        <div class="starred">
          <input type="button" name="Flag" value="Flg" width="30" height="30"/>
        </div>
        <div class="respond" id="reply">
          <input type="button" name="Respond" value="Res" width="30" height="30"/>
        </div>
        <div class="archive">
          <!-- <input type="button" name="Archive" value="Arc" width="30" height="30"/> -->
          <%= button_to "Archive", {:action => "archive", :id => mention.id} %>
          <!-- <button><img src="images/add.gif" alt="Archive" width="30" height="30" /> Archive</button> -->
        </div>
      </div>
    </div>
    <div class="hidden" id="reply_dropdown">
      <%= form_tag('/posts') do %>
        <p>
          <%=text_area_tag'respond', nil, :rows => "2", :cols => "70", :size => 145, :placeholder => 'Input reply here',:maxlength => 140 %>
          <%= submit_tag 'Reply' %>
        </p>
      <% end %>
    </div>

  </div>
<% end %>
