<% @mentions.each do |mention| %>
  <div class="smartbox clearflix">
    <div class="smartbox-inset">

    <div class="klout">
      <% if mention.klout.round > 50 %>
        <p id="klout_color"><%= mention.klout.round %></p>
      <% else %>
        <p><%= mention.klout.round %></p>
      <% end %>
    </div>

    <div class="tweeter_image">
      <circle cx="284" cy="213" r="213" />
        <%= image_tag mention.profile_image_uri, :class => "user_image" %>
    </div>

    <div class="tweet_text">
      <strong><p><%= "@" + mention.username %></p></strong>
      <p><%= mention.message %></p>
    </div>

    <div class="sort_options">
      <div class="timestamp">
        <p><%= mention.pretty_time %></p>
      </div>
        <div class="retweet">
          <p>T</p>
        </div>
        <div class="starred">
          <p>S</p>
        </div>
        <div class="respond">
          <p id="reply">R</p>
        </div>
        <div class="archive">
          <p>A</p>
        </div>
      </div>
    </div>
    <div class="hidden" id="reply_dropdown">
      <%= form_tag('/posts') do %>
        <p>
          <%=text_area_tag'respond', nil, :rows => "2", :cols => "70", :size => 145, :placeholder => 'Input reply here',:maxlength => 140 %>
          <%= submit_tag 'Reply' %>
        </p>
      <% end %>
    </div>

  </div>
<% end %>
