<% @tweets.each do |tweet| %>
  <div class="smartbox clearflix">
    <div class="smartbox-inset">
      <div class="klout">
        <% if display_klout_score(@klout, tweet.user) > 50 %>
          <p id="klout_color"><%= display_klout_score(@klout, tweet.user) %></p>
        <% else %>
          <p><%= display_klout_score(@klout, tweet.user) %></p>      
        <% end %>
      </div>

      <div class="tweeter_image">
        <circle cx="284" cy="213" r="213" />
        <%= image_tag tweet.user.profile_image_uri, :class => "user_image" %>
      </div>

      <div class="tweet_text">
        <strong><p><%= "@" + tweet.user.username %></p></strong>
        <p><%= tweet.text %></p>
      </div>

      <div class="sort_options">
        <div class="timestamp">
          <p>timestamp</p>
        </div>
        <div class="retweet">
          <p>T</p>
        </div>
        <div class="starred">
          <p>S</p>
        </div>
        <div class="respond">
          <p id="reply">R</p>
        </div>
        <div class="archive">
          <p>A</p>
        </div>
      </div>
    </div>
    <div class="hidden" id="reply_dropdown">
      <p>dropdown reply text field goes here. eventually.</p>
    </div>

  </div>
<% end %>
